@{
    ViewBag.Title = ViewBag.ControllerName;
    ViewBag.Categoria = ViewBag.categoria;
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<main class="main" role="main">
    <div class="row">
        <div class="wrap clearfix">
            <nav class="breadcrumbs">
                <ul>
                    <li><a href="/" title="Home">Home</a></li>
                    <li><a href="/Contact">Contatos</a></li>
                </ul>
            </nav>
            <header class="s-title">
                <h1>Contato</h1>
            </header>

            <section class="content full-width">
                <div class="row">
                    <div class="container">
                        <div class="row"></div>
                        <div class="col-md-6">
                            <h3 class="mt-medium">
                                Para mais informações:
                            </h3>
                            <p>
                                Dúvidas ou sugestões? <br> Acesse a página de suporte, envie um e-mail ou ligue para nós.
                            </p>
                            <ul class="list-unstyled text-default">
                                <li class="mb-mini">
                                    <a href="#" title="link para Central de suporte">
                                        <i class="fa fa-globe"></i>
                                        Central de suporte
                                    </a>
                                </li>
                                <li class="mb-mini">
                                    <a href="mailto:suboro@gmail.com" target="_blank" title="entre em contato através de nossa central de ajuda">
                                        <i class="fa fa-envelope"></i> Enviar uma mensagem
                                    </a>
                                </li>
                                <li class="mb-mini">
                                    <a href="tel:+55 (41)99999-9999" title="entre em contato atraves do telefone +55 (41)99999-9999">
                                        <i class="fa fa-phone"></i> +55 (41)99999-9999 - Problemas e dúvidas sobre a aplicação.
                                    </a>
                                </li>
                                <li class="mb-mini">
                                    <a href="tel:+55 (41)98888-8888" title="entre em contato atraves do telefone +55 (41)98888-8888">
                                        <i class="fa fa-phone"></i> +55 (41)98888-8888 Contato administrativo.
                                    </a>
                                </li>
                            </ul>
                            <p>
                                O atendimento por telefone ou chat funciona de segunda a sexta das 8hs às 20hs e sábado das 9hs às 14hs.
                            </p>
                        </div>

                        <div class="col-md-6">
                            <h3 class="mt-medium">
                                Ouvidoria:
                            </h3>
                            <p>
                                Se você já entrou em contato com o nosso time e não ficou satisfeito com a solução, a Ouvidoria Soboru pode analisar e rever o seu caso.
                            </p>
                            <ul class="list-unstyled text-default">
                                <li class="mb-mini">
                                    <a href="mailto:ouvidoria.soboru@gmail.com" title="link para Ouvidoria Soboru">
                                        <i class="fa fa-envelope"></i>
                                        ouvidoria.soboru@gmail.com
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div> 
                </section>
</div>
    </div>
</main>
