@{ 
    string controllerName = ViewBag.ControllerName;
}

<div class="modal fade" id="deleteConfirmationModal" tabindex="-1"
     role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-ELTEismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    Confirmação de exclusão de Ingrediente
                </h4>
            </div>
            <div class="modal-body">
                <p>
                    Você está prestes a remover o ingrediente <span class="modelItemName"></span> do cadastro.
                </p>
                <p>
                    <strong>
                        Você está certo que deseja prosseguir?
                    </strong>
                </p>
                @using (Html.BeginForm("Delete", controllerName, FormMethod.Post, new { @id = "delete-form", role = "form" })) {
                    @Html.AntiForgeryToken()
                    <input type="hidden" class="modelItemId" name="@ViewBag.ItemIdName"/>
                }
            </div>
            <div class="modal-footer">
                <button id="submit" type="button" class="btn btn-default" onclick="$('#delete-form').submit()">
                    Sim, exclua este produto.
                </button>
                <button type="button" class="btn btn-primary"
                        data-dismiss="modal">
                    Não, não exclua este produto.
                </button>
            </div>
        </div>
    </div>
</div>