<ul class="nav nav-pills nav-stacked">
    <li role="presentation" id="nav_home">
        @Html.ActionLink("Home", "Index", "Home")
    </li>
    <li role="presentation" id="nav_ingredientes">
        @Html.ActionLink("Ingredientes", "Index", "Ingredientes")
    </li>
    <li role="presentation" id="nav_utensilios">
        @Html.ActionLink("Utensilios", "Index", "Utensilios")
    </li>
</ul>
