<ul class="nav nav-pills nav-stacked">
    <li role="presentation" id="nav_ingredientes">
        @Html.ActionLink("Ingredientes", "Index", "Ingredientes")
        @Html.ActionLink("Utensilios", "Index", "Utensilios")
    </li>
</ul>
