@model Soboru.Models.Ingrediente

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Ingredientes - Detalhes";
}

<main class="main" role="main">
    <div class="wrap clearfix">
        <nav class="breadcrumbs">
            <ul>
                <li><a href="/" title="Home">Home</a></li>
                <li><a href="#">Cadastro</a></li>
                <li>Ingrediente</li>
            </ul>
        </nav>

        <div class="row">
            <header class="s-title">
                <h1>Detalhes</h1>
            </header>

            <section class="content full-width">
                @*<div class="container">*@
                    <dl class="basic">
                        <dt>
                            @Html.DisplayNameFor(model => model.NomeIngrediente)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NomeIngrediente)
                        </dd>
                    </dl>

                    <div class="bwrap">
                        @Html.ActionLink("Editar", "Edit", new { id = Model.IngredienteId }, new { @class = "button" })
                    </div>
                @*</div>*@
            </section>
        </div>
    </div>
</main>
