@model Soboru.Models.Utensilio

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Utensilios - Detalhes";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3>Utensilios</h3>
    </div>
    <hr />
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

        </dl>
    </div>
    <div class="panel-footer panel-info">
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>
