
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3>Index</h3>
    </div>
    <div class="panel-body"></div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            setActivePage("nav_home");
        });
    </script>
}