@{
    ViewBag.Title = ViewBag.ControllerName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main" role="main">
    <div class="wrap clearfix">
        <div class="row"></div>
    </div>
</main>
